<ion-nav-bar class="bar-dark">
  <ion-nav-title>socket dictionary</ion-nav-title>
</ion-nav-bar>
<ion-tabs class="tabs-dark tabs-icon-top">
  <ion-tab title="splash" icon="ion-home" ui-sref="home.splash">
    <ion-nav-view name="tab-splash"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Tessel" icon="ion-wrench" ui-sref="home.tessel">
    <ion-nav-view name="tab-tessel"></ion-nav-view>
  </ion-tab>
  <ion-tab title="gameMode" icon="ion-gear-a" ui-sref="home.gameMode">
    <ion-nav-view name="tab-gameMode"></ion-nav-view>
  </ion-tab>
  <ion-tab title="gameRoom" icon="ion-gear-a" ui-sref="home.gameRoom">
    <ion-nav-view name="tab-gameRoom"></ion-nav-view>
  </ion-tab>
  <ion-tab title="currentRoom" icon="ion-gear-a" ui-sref="home.gameRoom/:gameId">
    <ion-nav-view name="tab-gameRoom"></ion-nav-view>
  </ion-tab>


</ion-tabs>
