/* Empty. Add your own CSS if you like */
.title {
  text-align:center;
}

.tesselTitle {
  margin-bottom:10vh;
}

.blurbCenter {
  text-align:center;
}

.gameModeDiv {
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  height:65vh;
  width:100%;
}

/*.gameModeButtons {
  margin-bottom:20vh;
}*/
